<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Other Sample form</h4>
            </div>
            <div class="card-body">

                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarUsuario(f)">

                    <div class="form-body">
                        <h3 class="card-title">Informacion de Persona</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input [(ngModel)]="usuario.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre" required>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Login</label>
                                    <input [(ngModel)]="usuario.login" type="text" name="usuario.login" class="form-control" placeholder="Login" required>
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Contraseña</label>
                                    <input [(ngModel)]="usuario.clave" type="password" name="clave" class="form-control" placeholder="Contraseña" required>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Confirmar Contraseña</label>
                                    <input type="password" name="clave2" class="form-control" placeholder="Confirmar Contraseña" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="text-danger">
                                    Las contraseñas deben de ser iguales
                                </p>
                            </div>
                            <!--/span-->
                        </div>


                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tipo Documento</label>
                                    <input [(ngModel)]="usuario.tipoDocumento" type="text" name="tipoDocumento" class="form-control" placeholder="Tipo Documento" required>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Dni</label>
                                    <input [(ngModel)]="usuario.numDocumento" type="text" name="numDocumento" class="form-control" placeholder="Dni" required>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar </button>
                        <button type="button" class="btn btn-inverse">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>